<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" th:href="@{/resources/site.ico}">

        <!-- Bootstrap core CSS -->
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/resources/css/sticky-footer-navbar.css}" rel="stylesheet">
        <link th:href="@{/resources/css/flag-icon.min.css}" rel="stylesheet">
        <link th:href="@{/resources/css/custom.css}" rel="stylesheet">
    </th:block>


</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:text="#{name.nav}">Автопрокат</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a th:href="@{/select_vehicles}" th:text="#{car.nav}">Каталог автомобилей</a></li>
                <li><a th:href="@{/conditions}" th:text="#{condition.nav}">Условия проката</a></li>
                <!--<li><a href="#contact" th:text="#{feedback.nav}">Отзывы</a></li>-->
                <!--<li>-->
                    <!--<div class="navbar-form">-->
                        <!--<a th:href="@{/signin}" class="btn btn-warning" role="button" th:text="#{order.nav}">Make order</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <div class="navbar-form navbar-right">
                <a href="?locale=en"><p class="flag-icon flag-icon-gb"></p></a>
                <a href="?locale=ru"><p class="flag-icon flag-icon-ru"></p></a>
            </div>

            <div sec:authorize="!isAuthenticated()" class="navbar-form navbar-right">
                <a th:href="@{/signin}" class="btn btn-success" role="button" th:text="#{sign.nav}">Sign in</a>
            </div>
            <form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()" class="navbar-form navbar-right">
                <button type="submit" class="btn btn-success" th:text="#{logout.nav}">Log out</button>
            </form>

            <div sec:authorize="isAuthenticated()" class="dropdown navbar-form navbar-right" >
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" th:text="#{nav.account}">
                    Мой кабинет
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/user/{username}/reservations(username=${#authentication.name})}" th:text="#{nav.myorders}">Мои заявки</a></li>
                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#" th:text="#{nav.chats}">Мои чаты</a></li>-->
                    <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/user/{username}/addinfo(username=${#authentication.name})}" th:text="#{nav.addinfo}">Моя дополнительная информация</a></li>
                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#" th:text="#{nav.feedbacks}">Мои отзывы</a></li>-->
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" class="dropdown navbar-form navbar-right" >
                <p class="vcenter"><span th:text="#{nav.hello}">Привет</span>, <span sec:authentication="name"></span></p>
            </div>
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li class="dropdown-header">Nav header</li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
            <!--</ul>-->
            <!--</li>-->

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <!--Input your's code here-->
</div>

<div id="footer" th:fragment="footer">
    <div class="container">
        <p class="text-muted" th:text="#{info.footer}">Информация о нашей компании, бла-бла.</p>
    </div>
</div>
<th:block th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.chained.min.js}"></script>
    <script th:src="@{/resources/js/chained.form.js}" ></script>
</th:block>
</body>
</html>