<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Моя дополнительная информация</title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Пасспорт</th>
                    <th>Водительское</th>
                </tr>
                <tr>
                    <td th:text="${additionalUserInfo[0]}"></td>
                    <td th:text="${additionalUserInfo[1]}"></td>
                </tr>
            </table>
            <a class="btn" th:unless="${infoExist}" th:href="@{/user/{username}/saveinfo(username=${#authentication.name})}">Добавить информацию</a>
        </div>
    </div>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>