<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Админка</title>

    <link th:href="@{/resources/css/admin-page.css}" rel="stylesheet">

</head>
<body>
<div th:replace="components/admin_header :: admin_header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="components/admin_header :: sidenav"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Админка</h1>

        </div>
    </div>
</div>

<div th:replace="components/default_full :: scripts"></div>
</body>
</html>
