<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <link th:href="@{/resources/css/admin-page.css}" rel="stylesheet">

</head>
<body>
<div th:replace="components/admin_header :: admin_header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="components/admin_header :: sidenav"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div th:if="${#strings.equals(vehicle, 'car')}" id="car">
                <form id="addcar" role="form" th:action="@{/admin/changecar}" method="post" th:object="${car}">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" th:value="${car.id}">
                    </div>
                    <div class="form-group">
                        <label for="manufacture"><p>Марка</p></label>
                        <input class="form-control" type="text" th:field="*{manufacture}" id="manufacture" required>
                    </div>
                    <div class="form-group">
                        <label for="Model"><p>Модель</p></label>
                        <input class="form-control" type="text" th:field="*{model}" id="Model" required>
                    </div>
                    <div class="form-group">
                        <label for="year"><p>Год</p></label>
                        <input class="form-control" type="number" th:field="*{year}" id="year" required>
                    </div>
                    <div class="form-group">
                        <label for="standardprice"><p>Стандартная цена</p></label>
                        <input class="form-control" type="number" th:field="*{standardPrice}" id="standardprice"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="capacity"><p>Объем</p></label>
                        <input class="form-control" type="number" th:field="*{cubicCapacity}" id="capacity" required>
                    </div>
                    <div class="form-group">
                        <label for="power"><p>Мощность</p></label>
                        <input class="form-control" type="number" th:field="*{power}" id="power" required>
                    </div>
                    <div class="form-group">
                        <label for="category"><p>Категория</p></label>
                        <select class="form-control" id="category" name="categoryName" required>
                            <th:block th:each="type : ${categoryList}">
                                <option th:text="${type}" th:value="${type}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fuel"><p>Топливо</p></label>
                        <select class="form-control" id="fuel" th:field="*{fuelType}" required>
                            <th:block th:each="type : ${fuelType}">
                                <option th:text="${type}" th:value="${type}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gearbox"><p>Коробка</p></label>
                        <select class="form-control" id="gearbox" th:field="*{gearbox}" required>
                            <th:block th:each="type : ${gearbox}">
                                <option th:text="${type}" th:value="${type}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transmission"><p>Привод</p></label>
                        <select class="form-control" id="transmission" th:field="*{transmission}" required>
                            <th:block th:each="type : ${transmission}">
                                <option th:text="${type}" th:value="${type}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row classjs" id="photo_div">
                        <th:block th:each="photo : ${car.photos}">
                            <div class="col-xs-2 text-center">
                                <th:block th:if="${photo.photoUrl.startsWith('main-')}">
                                    <input class="form-control" type="url" name="photoUrl" th:value="${photo.photoUrl.substring(5)}"
                                           required>
                                    <input type="radio" name="main" th:value="${photoStat.index}" required>
                                </th:block>
                                <th:block th:unless="${photo.photoUrl.startsWith('main-')}">
                                    <input class="form-control" type="url" name="photoUrl" th:value="${photo.photoUrl}"
                                           required>
                                    <input type="radio" name="main" th:value="${photoStat.index}" required>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                    <input class="btn btn-default" type="submit" value="Изменить">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCar">Удалить</button>
                    <button type="button" class="btn btn-default" onclick="addFieldForPhoto()"> Add photo field</button>
                    <button type="button" class="btn btn-default" onclick="removeFieldForPhoto()"> Remove last photo field</button>
                </form>
                <div class="modal fade" id="deleteCar" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Вы собираетесь удалить запись</h4>
                            </div>
                            <div class="modal-body">
                                <p class="lead">Вы уверены?</p>
                            </div>
                            <div class="modal-footer"   >
                                <form class="form-inline" role="form" th:action="@{/admin/deletevehicle}" method="post">
                                    <input type="hidden" th:value="${car.id}" name="vehicleId">
                                    <input type="submit" class="btn btn-warning" value="Удалить"/>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="moto" th:if="${#strings.equals(vehicle, 'motorcycle')}">
                <form id="addmoto" role="form" th:action="@{/admin/changemotorcycle}" method="post"
                      th:object="${motorcycle}">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" th:value="${motorcycle.id}">
                    </div>
                    <div class="form-group">
                        <label for="manufacture"><p>Марка</p></label>
                        <input class="form-control" type="text" th:field="*{manufacture}" id="manufactureMoto" required>
                    </div>
                    <div class="form-group">
                        <label for="Model"><p>Модель</p></label>
                        <input class="form-control" type="text" th:field="*{model}" id="ModelMoto" required>
                    </div>
                    <div class="form-group">
                        <label for="year"><p>Год</p></label>
                        <input class="form-control" type="number" th:field="*{year}" id="yearMoto" required>
                    </div>
                    <div class="form-group">
                        <label for="standardprice"><p>Стандартная цена</p></label>
                        <input class="form-control" type="number" th:field="*{standardPrice}" id="standardpriceMoto"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="capacity"><p>Объем</p></label>
                        <input class="form-control" type="number" th:field="*{cubicCapacity}" id="capacityMoto"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="power"><p>Мощность</p></label>
                        <input class="form-control" type="number" th:field="*{power}" id="powerMoto" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" value="motorcycle">
                    </div>
                    <div class="form-group">
                        <label for="type"><p>Класс</p></label>
                        <select class="form-control" id="type" th:field="*{motorcycleType}" required>
                            <th:block th:each="type : ${motorcycleType}">
                                <option th:text="${type}" th:value="${type}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row" id="photo_divMoto">
                        <th:block th:each="photo : ${motorcycle.photos}">
                            <div class="col-xs-2 text-center">
                                <th:block th:if="${photo.photoUrl.startsWith('main-')}">
                                    <input class="form-control" type="url" name="photoUrl" th:value="${photo.photoUrl.substring(5)}"
                                           required>
                                    <input type="radio" name="main" th:value="${photoStat.index}" required>
                                </th:block>
                                <th:block th:unless="${photo.photoUrl.startsWith('main-')}">
                                    <input class="form-control" type="url" name="photoUrl" th:value="${photo.photoUrl}"
                                           required>
                                    <input type="radio" name="main" th:value="${photoStat.index}" required>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                    <input class="btn btn-default" type="submit" value="Изменить">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteMotorcycle">Удалить</button>
                    <button type="button" class="btn btn-default" onclick="addFieldForPhoto()"> Add photo field</button>
                    <button type="button" class="btn btn-default" onclick="removeFieldForPhoto()"> Remove last photo field</button>
                </form>
                <div class="modal fade" id="deleteMotorcycle" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Вы собираетесь удалить запись</h4>
                            </div>
                            <div class="modal-body">
                                <p class="lead">Вы уверены?</p>
                            </div>
                            <div class="modal-footer">
                                <form class="form-inline" th:action="@{/admin/deletevehicle}" method="post">
                                    <input type="hidden" th:value="${motorcycle.id}" name="vehicleId">
                                    <button class="btn btn-warning" data-dismiss="modal">Удалить</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/default_full :: scripts"></div>
<script th:src="@{/resources/js/admin.js}"></script>
</body>
</html>
