<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Условия аренды</title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">

    <p class="lead">Арендатор автомобиля должен иметь:</p>
    <ul>
        <li>паспорт</li>
        <li>действующее водительское удостоверение</li>
        <li>водительский стаж не менее 2-х лет</li>
        <li>возраст арендатора от 20 лет</li>
        <li>залоговая стоимость составляет от 100 бел. руб.</li>
    </ul>
    <p><i>В исключительных случаях автомобиль может предоставляться клиенту младше 20 лет и со стажем вождения до 2-х лет.</i></p>
    <p>Оплата производится авансом за весь период проката автомобиля в рублях РБ. В аренда авто стоимость включается страховка.</p>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>
