<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title th:text="#{name.nav}"></title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1 th:text="#{homepage.1}">Без машины хорошо?</h1>
        <h2 th:text="#{homepage.2}">А с машиной лучше!</h2>
        <p class="lead" th:text="#{homepage.3}">Добро пожаловать к лидерам в области аренды автомобилей в Минске</p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
    </div>

    <!-- Example row of columns -->
    <div class="row row-flex">
        <th:block th:each="vehicle : ${vehicles}">
            <div class="col-lg-4">
                <img th:src="@{${vehicle[5].substring(5)}}" alt="img"
                     class="img-responsive">
                <p class="text-danger lead" th:text="${vehicle[2] + ' ' + vehicle[1] + ' ' + vehicle[4] }"></p>
                <p class="bg-warning lead" th:text="${vehicle[3]} + ' ' + #{currency}"></p>
                <p><a class="btn btn-primary" th:href="@{/vehicle/{id}(id = ${#numbers.formatInteger(vehicle[0],0)})} " role="button" th:text="#{view_more} + '»'">View details &raquo;</a></p>
            </div>
        </th:block>
    </div>
    <div>
        <a th:href="@{/select_vehicles}" class="btn btn-info btn-lg btn-block" role="button" th:text="#{more_cars}">Больше авто!</a>
    </div>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>
