<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="components/head"></th:block>

    <title>Sticky Footer Navbar Template for Bootstrap</title>

</head>
<body>
<div th:replace="components/header :: header"></div>

<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Без машины хорошо?</h1>
        <h2>А с машиной лучше!</h2>
        <p class="lead">Добро пожаловать к лидерам в области аренды автомобилей в Минске</p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
    </div>

    <!-- Example row of columns -->
    <div class="row row-flex">
        <th:block th:each="vehicle : ${vehicles}">
            <div class="col-lg-4">
                <img th:src="@{${vehicle[5].substring(5)}}" alt="img"
                     class="img-responsive">
                <p class="text-danger lead" th:text="${vehicle[2] + ' ' + vehicle[1] + ' ' + vehicle[4] + ' г.в.'}"></p>
                <p class="bg-warning lead" th:text="${vehicle[3] + ' рублей'}"></p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </th:block>
    </div>
    <div>
        <a href="/select_cars" class="btn btn-info btn-lg btn-block" role="button">Больше авто!</a>
    </div>
</div>

<div th:replace="components/footer :: footer"></div>
<div th:replace="components/scripts"></div>
</body>
</html>
