<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Sticky Footer Navbar Template for Bootstrap</title>
    <script type="text/javascript">
        function timer(){
            var obj=document.getElementById('timer_inp');
            obj.innerHTML--;

            if(obj.innerHTML==1){window.location.href = "/";setTimeout(function(){},1000);}
            else{setTimeout(timer,1000);}
        }
        setTimeout(timer,1000);
    </script>
   </head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">
    <div class="text-center">
        <p class="align-middle lead">Вы вышли из системы. Через <span id="timer_inp">5</span> секунд вы вернетесь на главную страницу</p>
    </div>
    <!--Input your's code here-->
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>
