<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>
    <link th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <title th:text="${'Мотоцикл ' + motorcycle.manufacture + ' '+ motorcycle.model}"></title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-40"><img th:src="${mainImg}"></div>
                <th:block th:each="img, iter : ${otherImg}">
                    <div class="tab-pane" th:id="${'pic-'+ iter.index}">
                        <img th:src="@{${img}}"/>
                    </div>
                </th:block>
            </div>

            <ul class="preview-thumbnail nav nav-tabs">
                <li class="active"><a data-target="#pic-40" data-toggle="tab">
                    <div class="thumbnail"><img
                            th:src="@{${mainImg}}"/>
                    </div>
                </a></li>
                <th:block th:each="img, iter : ${otherImg}">
                    <li><a th:data-target="${'#pic-' + iter.index}" data-toggle="tab">
                        <div class="thumbnail"><img
                                th:src="@{${img}}"/>
                        </div>
                    </a></li>
                </th:block>
            </ul>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <td th:text="#{table.manufacture}">Марка</td>
                    <td th:text="#{table.model}">Модель</td>
                    <td th:text="#{table.year}">Год</td>
                    <td th:text="#{table.price}">Стандартная цена</td>
                    <td th:text="#{table.power}">Мощность</td>
                    <td th:text="#{table.capacity}">Объем</td>
                    <td th:text="#{table.motorcycleType}">Класс</td>
                </tr>
                <tr>
                    <td th:text="${motorcycle.manufacture}"></td>
                    <td th:text="${motorcycle.model}"></td>
                    <td th:text="${motorcycle.year}"></td>
                    <td th:text="${motorcycle.standardPrice}"></td>
                    <td th:text="${motorcycle.power}"></td>
                    <td th:text="${motorcycle.cubicCapacity}"></td>
                    <td th:text="#{${motorcycle.motorcycleType}}"></td>
                </tr>
            </table>
            <div>
                <table class="table table-bordered" id="costsTable">
                    <tr>
                        <th th:text="#{Term_of_lease}">Срок аренды</th>
                        <th th:text="#{Cost_per_day}"> Стоимость за день</th>
                    </tr>
                    <th:block th:each="pair : ${CostStrategy}">
                        <tr th:unless="${pairStat.last}">
                            <td th:text="${pair.startDays + ' - ' + pair.endDays}"></td>
                            <td th:text="${pair.cost*motorcycle.standardPrice/100}"></td>
                        </tr>
                        <tr th:if="${pairStat.last}">
                            <td th:text="${pair.startDays} + ' ' + #{more}"></td>
                            <td th:text="${pair.cost*motorcycle.standardPrice/100}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div sec:authorize="isAnonymous()">
                <p>
                    <button class="btn btn-warning" data-toggle="modal"  data-target="#smallModal" th:text="#{order.nav}">Заказать</button>
                </p>
                <div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 th:text="#{need.to.login}">Вам нужно зайти в аккаунт</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <p>
                    <button class="btn btn-warning" data-toggle="collapse" data-target="#order" th:text="#{order.nav}">Заказать</button>
                </p>
                <div id="order" class="collapse">
                    <form th:action="@{/reservation}" th:method="post" th:object="${reservationData}">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="dateTakepicker3" th:text="#{from}">C</label>
                                <div class="input-group" id="dateTakepicker3">
                                    <input type="text" th:field="*{dateTake}" class="form-control"/>
                                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="dateReturnpicker3" th:text="#{to}">По</label>
                                <div class="input-group" id="dateReturnpicker3">
                                    <input type="text" th:field="*{dateReturn}" class="form-control"/>
                                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<input type="date" class="form-control" th:field="*{dateTake}">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<input type="date" class="form-control" th:field="*{dateReturn}">-->
                        <!--</div>-->
                        <div class="form-group">
                            <input th:type="hidden" id="vehicleId" name="vehicleId" th:value="${id}">
                        </div>
                        <div class="form-group">
                            <label for="commend" th:text="#{extra.commend}">Что еще нам бы следовало знать о вашем заказе?</label>
                            <textarea id="commend" class="form-control" rows="3" th:field="*{commend}"></textarea>
                        </div>
                        <input class="btn" type="submit" th:value="#{send}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
<script sec:authorize="isAuthenticated()" th:src="@{/resources/js/moment.js}"></script>
<script sec:authorize="isAuthenticated()" th:src="@{/resources/js/moment-range.js}"></script>
<script sec:authorize="isAuthenticated()" th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>
<script sec:authorize="isAuthenticated()" th:src="@{/resources/js/reservation.js}"></script>
</body>
</html>