<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Sticky Footer Navbar Template for Bootstrap</title>
    <link th:href="@{/resources/css/custom.css}" rel="stylesheet">

</head>
<body>
<div th:replace="components/header :: header"></div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-0"><img th:src="${mainImg}">
                </div>
                <th:block th:each="img, iter : ${otherImg}">
                <div class="tab-pane" th:id="${'pic-'+ iter.current}"><img
                        th:src="@{${img}}"/>
                </div>
                </th:block>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
                <li class="active"><a data-target="#pic-0" data-toggle="tab">
                    <div class="thumbnail"><img
                            th:src="@{${mainImg}}"/>
                    </div>
                </a></li>
                <th:block th:each="img, iter : ${otherImg}">
                <li><a  th:data-target="${'#pic-' + iter.current}" data-toggle="tab">
                    <div class="thumbnail"><img
                            th:src="@{${img}}"/>
                    </div>
                </a></li>
                </th:block>
            </ul>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
            <tr>
                <td>Марка</td>
                <td>Модель</td>
                <td>Год</td>
                <td>Цена</td>
                <td>Мощность</td>
            </tr>
            </table>

        </div>
    </div>
</div>
<!--Input your's code here-->

<div th:replace="components/footer :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>