<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Изменить заявку</title>

    <link th:href="@{/resources/css/admin-page.css}" rel="stylesheet">

</head>
<body>
<div th:replace="components/admin_header :: admin_header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="components/admin_header :: sidenav"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <form id="addcar" role="form" th:action="@{/admin/changereservation}" method="post" th:object="${reservation}">
                <input type="hidden" th:value="${reservation.id}" th:field="*{id}">
                <input type="hidden" th:value="${reservation.version}" th:field="*{version}">
                <div class="form-group">
                    <label th:for="*{payed}">Оплачена</label>
                    <select class="form-control" th:field="*{payed}" required>
                            <option th:text="true" th:value="true"></option>
                            <option th:text="false" th:value="false"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Текущий статус</label>
                    <select class="form-control" id="status" name="status" required>
                        <th:block th:each="type : ${allReservationStatuses}">
                            <option th:text="${type.statusName}" th:value="${type.statusName}"></option>
                        </th:block>
                    </select>
                </div>
                <input class="btn btn-default" type="submit" value="Изменить">
            </form>
        </div>
    </div>
</div>

<div th:replace="components/default_full :: scripts"></div>
</body>
</html>
