<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>
    <link th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form th:action="@{/reservation}" th:method="post" th:object="${reservationData}">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group" id="dateTakepicker3">
                            <label for="dateReturnpicker3">C</label>
                            <input type="text" th:field="*{dateTake}" class="form-control"/>
                            <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group" id="dateReturnpicker3">
                            <label for="dateReturnpicker3">по</label>
                            <input type="text" th:field="*{dateReturn}" class="form-control"/>
                            <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<input type="date" class="form-control" th:field="*{dateTake}">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<input type="date" class="form-control" th:field="*{dateReturn}">-->
                <!--</div>-->
                <div class="form-group">
                    <input th:type="hidden" id="vehicleId" name="vehicleId" th:value="${id}">
                </div>
                <div class="form-group">
                    <label for="commend">Что еще нам бы следовало знать о вашем заказе?</label>
                    <textarea id="commend" class="form-control" rows="3" th:field="*{commend}"></textarea>
                </div>
                <input type="submit" value="Отправить">
            </form>
            <p th:text="${id}"></p>
            <button type="button" onclick="blockDates()">sdfsd</button>
            <!--Input your's code here-->
        </div>
    </div>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
<script th:src="@{/resources/js/moment.js}"></script>
<script th:src="@{/resources/js/moment-range.js}"></script>
<script th:src="@{/resources/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/resources/js/reservation.js}"></script>

</body>
</html>