<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Каталог авто</title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form role="form" th:action="@{/select_vehicles}" method="get" th:object="${vehicleDto}">
                <div class="form-group">
                    <label for="manufacture" th:text="#{table.manufacture}">Марка</label>
                    <select class="form-control" th:field="*{manufacture}" id="manufacture">
                        <option th:value="''" th:text="--"></option>
                        <option th:each="manufacture : ${allManufactureModelsMap}" th:value="${manufacture.key}"
                                th:text="${manufacture.key}">
                            BMW
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="model" th:text="#{table.model}">Модель</label>
                    <select class="form-control" th:field="*{model}" id="model">
                        <option th:value="''" th:text="--"></option>
                        <th:block th:each="manufacture : ${allManufactureModelsMap}">
                            <option th:each="model : ${manufacture.value}" th:value="${model}" th:text="${model}"
                                    th:class="${manufacture.key}">645
                            </option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category" th:text="#{table.motorcycleType}">Категория</label>
                    <select class="form-control" th:field="*{vehicleCategoryName}" id="category">
                        <option th:value="''" th:text="--" th:selected="selected"></option>
                        <option th:each="category : ${allVehicleCategories}" th:value="${category}"
                                th:text="#{${category}}">luxury
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <th:block th:with="currentYear=${#dates.year(#dates.createNow())}">
                        <label th:text="#{table.year}">Год</label>
                        <div class="row" >
                            <div class="col-xs-6" style="padding-right: 0px">
                                <div class="row" style="padding-right: 0px">
                                    <div class="col-xs-2 vcenter" style="padding-right: 0px"><label th:text="#{from}">C</label></div>
                                    <div class="col-xs-8 vcenter" style="padding: 0px">
                                        <select class="form-control" th:field="*{yearMin}" id="yearMin">
                                            <option th:each="i: ${#numbers.sequence(currentYear, currentYear - 40)}"
                                                    th:value="${i}"
                                                    th:text="${i}">1980
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-sm-1"><p class="lead">-</p></div>-->
                            <div class="col-xs-6" style="padding: 0px">
                                <div class="row" style="padding-right: 0px"></div>
                                <div class="col-xs-2 vcenter" style="padding-right: 0px"><label th:text="#{to}">по</label></div>
                                <div class="col-xs-8 vcenter" style="padding: 0px">
                                    <select class="form-control" th:field="*{yearMax}">
                                        <option th:each="i: ${#numbers.sequence(currentYear, currentYear - 40)}"
                                                th:value="${i}"
                                                th:text="${i}">1980
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="form-group row">
                    <div class="col-xs-5">
                        <label for="pagination" th:text="#{show.pages}">Отображать на странице</label>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control" th:field="*{perPage}" id="pagination" required>
                            <option th:value="5" th:text="5">2</option>
                            <option th:value="10" th:text="10">3</option>
                            <option th:value="20" th:text="20">5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" id="page" name="page" value="1">
                </div>
                <div class="form-group row">
                    <div class="col-xs-4">
                        <input class="btn btn-default" type="submit" th:value="#{send}">
                    </div>
                </div>
                <!--<optgroup label="Cars">-->
                <!--<th:block th:each="category : ${allVehicleCategories}">-->
                <!--<option th:value="${category}" th:text="${#strings.capitalize(category)}" th:if="${!category.equals('motorcycle')}">luxury</option>-->
                <!--</th:block>-->
                <!--</optgroup>-->
                <!--<optgroup label="Motorcycles">-->
                <!--<th:block th:each="category : ${allVehicleCategories}">-->
                <!--<option th:value="${category}" th:text="${#strings.capitalize(category)}" th:if="${category.equals('motorcycle')}">motorcycle</option>-->
                <!--</th:block>-->
                <!--</optgroup>-->
            </form>
        </div>
        <div class="col-md-8">
            <div th:if="${#httpServletRequest.queryString != null}">
                <p class="lead" th:if="${vehicleList.isEmpty()}" th:text="'Not fount'"></p>
                <table class="table table-bordered" th:if="${!vehicleList.isEmpty()}">
                    <tr>
                        <td th:text="#{table.manufacture}">Марка</td>
                        <td th:text="#{table.model}">Модель</td>
                        <td th:text="#{table.year}">Год</td>
                        <td th:text="#{table.price}">Цена</td>
                        <td th:text="#{table.power}">Мощность</td>
                        <td></td>
                        <td sec:authorize="hasAuthority('admin')">Изменить</td>
                    </tr>
                    <tr th:each="vehicle : ${vehicleList}">
                        <td th:text="${vehicle.manufacture}">${car.manufacture}</td>
                        <td th:text="${vehicle.model}">${car.model}</td>
                        <td th:text="${vehicle.year}">${car.year}</td>
                        <td th:text="${vehicle.standardPrice}">${car.standardPrice}</td>
                        <td th:text="${vehicle.power}">${car.power}</td>
                        <td><a th:href="@{/vehicle/{id}(id = ${vehicle.id})}" class="btn btn-success" role="button" th:text="#{view_more}" >Подробнее »</a></td>
                        <td sec:authorize="hasAuthority('admin')"><a th:href="@{/admin/changevehicle/{id}(id = ${vehicle.id})}" class="btn btn-success" role="button">Изменить</a></td>
                    </tr>
                </table>
                <div class="text-center">
                    <th:block th:with="req = ${#httpServletRequest.queryString},
                    currentPage = ${#httpServletRequest.getParameter('page')},
        currentPageLenght = ${(#httpServletRequest.getParameter('page').length())},
        reqsize = ${#httpServletRequest.queryString.length()},
        queryPart1 = ${#httpServletRequest.queryString.split('page=')[0]},
        queryPart2 = ${#httpServletRequest.queryString.split('page=')[1]}"
                              th:if="${!vehicleList.isEmpty()}">
                        <ul class="pagination">
                            <!--<li th:if="${!currentPage.equals('1')}"><a th:href="@{${#httpServletRequest.requestURL}+'?'+${queryPart1}+'page='+${(#numbers.formatInteger(currentPage, currentPageLenght) - 1)}+${queryPart2.substring(currentPageLenght)}}">&laquo;</a></li>-->
                            <li th:each="i: ${#numbers.sequence(1, countPages)}"><a
                                    th:href="@{${#httpServletRequest.requestURL}+'?'+${queryPart1}+'page='+${i}+${queryPart2.substring(currentPageLenght)}}"
                                    th:text="${i}">1</a></li>
                            <!--<li th:if="${!currentPage.equals(countPages)}"><a th:href="@{${#httpServletRequest.requestURL}+'?'+${queryPart1}+'page='+${(#numbers.formatInteger(currentPage, currentPageLenght) + 1)}+${queryPart2.substring(currentPageLenght)}}">&raquo;</a></li>-->
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <!--Input your's code here-->
</div>

<div th:replace="components/footer :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>