<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Test</title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">
    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('admin')">
        This content is only shown to administrators hasrole.
    </div>
    <div sec:authorize="hasAuthority('admin')">
        This content is only shown to administrators has authority.
    </div>

    </div>
    <div sec:authorize="hasRole('user')">
        This content is only shown to users.
    </div>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>