<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="components/head"></th:block>

    <title>Sticky Footer Navbar Template for Bootstrap</title>

</head>
<body>
<div th:replace="components/header :: header"></div>

<div class="container">
    <p th:text="${#request.locale}"></p> - request.locale
    <p th:text="${#request.requestURI}"></p> - request.requestURI
    <p th:text="${#request.requestURL}"></p> - request.requestURL
    <p th:text="${#request.queryString}"></p> - request.queryString
</div>

<div th:replace="components/footer"></div>
<div th:replace="components/scripts"></div>
</body>
</html>