<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="components/default_full :: head"></th:block>

    <title>Мои заявки</title>

</head>
<body>
<div th:replace="components/default_full :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead" th:if="${reservations.isEmpty()}">Заявок нет!</p>
            <table class="table table-bordered" th:unless="${reservations.isEmpty()}">
                <tr>
                    <td>Дата начала</td>
                    <td>Дата окончания</td>
                    <td>Дата до которой нужно оплатить</td>
                    <td>Сумма</td>
                    <td>Оплачена</td>
                    <td>Текущий статус</td>
                    <td>ТС</td>
                    <td>Комментарий</td>
                    <td>Повреждения</td>
                </tr>
                <th:block th:each="reservation : ${reservations}">
                    <tr>
                        <td th:text="${reservation.dateTake}">Дата начала</td>
                        <td th:text="${reservation.dateReturn}">Дата окончания</td>
                        <td th:text="${#temporals.format(reservation.bill.payDateTime, 'dd-MM-yyyy HH:mm')}">Дата до
                            которой нужно оплатить
                        </td>
                        <td th:text="${reservation.bill.finalCost}">Сумма</td>
                        <td th:text="${reservation.payed}">Оплачена</td>
                        <td th:text="${reservation.reservationStatus.statusName}">Текущий статус</td>
                        <td><a class="btn btn-info" th:href="@{/vehicle/{id}(id=${reservation.vehicle.id})}"
                               th:text="${reservation.vehicle.manufacture} + ' ' + ${reservation.vehicle.model}"></a>
                        </td>
                        <td th:text="${reservation.commend}">Комментарий</td>
                        <td>
                            <div th:if="${reservation.damageBill != null}">
                                <p th:text="${reservation.damageBill.cost}"></p>
                                <p th:text="${reservation.damageBill.commend}"></p>
                            </div>
                            <p th:if="${reservation.damageBill == null}">Повреждений не было</p>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>

<div th:replace="components/default_full :: footer"></div>
<div th:replace="components/default_full :: scripts"></div>
</body>
</html>